{% extends "base_bootstrap.html" %}

{% block content %}
    <h1>Formulario de Michis</h1>

    <!-- Se crea un nuevo formulario -->
    <form method="post">
        <!-- Token de seguridad -->
        {% csrf_token %}

        <!-- Se muestra el formulario como párrafos -->
        <table>
            {{ form.as_p }}
        </table>

        <input type="submit" value="Submit">
        <input type="submit" value="Cancel"
            onclick="window.location='{% url 'cats:cat_list' %}' ; return false;">
    </form>
{% endblock %}